/* || VARIABLES */

:root {
  /* -- colors */
  --indigo-950: #1e1b4b;
  --indigo-900: #312e81;
  --indigo-800: #3730a3;
  --indigo-700: #4338ca;
  --indigo-600: #4f46e5;
  --indigo-500: #6366f1;
  --indigo-400: #818cf8;
  --indigo-300: #a5b4fc;
  --indigo-200: #c7d2fe;
  --indigo-100: #e0e7ff;
  --indigo-50: #eef2ff;

  --stone-950: #0c0a09;
  --stone-900: #1c1917;

  /* -- font family */
  --ff: "Roboto", sans-serif;

  /* -- font weight */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /* -- font size */
  --fs-50: 0.75rem;
  --fs-100: 1rem;
  --fs-150: 1.25rem;
  --fs-200: 1.4rem;
  --fs-300: 1.75rem;
  --fs-400: 2rem;

  /* -- spacing */
  --sp-8: 8px;
  --sp-16: 16px;
  --sp-24: 24px;
  --sp-32: 32px;
  --spa-48: 48px;
  --sp-56: 56px;
}

/* || Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --- END OF RESET */

/* || GENERAL */

body {
  font-family: var(--ff);
  font-size: var(--fs-100);
  line-height: 1.35;
}

h2 {
  font-size: var(--fs-400);
}

hr {
  width: 100%;
}

img {
  object-fit: cover;
}
/* UTILITIES */

.wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
  min-height: 100vh;
}

.right_col {
  background-color: var(--indigo-300);
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* || SIDEBAR */

.sidebar {
  color: var(--indigo-100);
  background-color: var(--stone-950);
  display: flex;
  flex-direction: column;
  gap: var(--sp-32);
  padding: var(--sp-32);
}

.sidebar__logo {
  display: flex;
  align-items: center;
  gap: var(--sp-8);
  font-size: var(--fs-400);
}

.sidebar__icon {
  font-size: inherit;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sidebar__link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
  font-size: var(--fs-200);
}

.sidebar__link:hover,
.sidebar__link:focus {
  color: var(--indigo-400);
}

.sidebar__links1,
.sidebar__links2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* || HEADER */
.header {
  background-color: var(--indigo-950);
  color: var(--indigo-50);
  padding: 1em 2em;
  display: grid;
  grid: 1fr 1fr / 1fr 1fr;
  align-content: space-between;
}

.header__searchDiv {
  display: flex;
  gap: var(--sp-16);
}

.header__searchDiv {
  width: 300px;
  display: flex;
  align-items: center;
  align-self: center;
}

.header__searchIcon {
  font-size: var(--fs-400);
}

.header__search {
}

.header__searchInput {
  padding: 1em;
  border-radius: 12px;
  border: none;
  width: 500px;
}

.header__userDiv {
  display: flex;
  gap: 16px;
  align-items: center;
  align-self: center;
  justify-self: flex-end;
}

.header__userPic {
  border-radius: 50%;
  width: 4em;
  height: 4em;
}

.header__helloDiv {
  display: flex;
  gap: 16px;
  align-self: center;
}

.header__helloPic {
  width: 6em;
  height: 6em;
  border-radius: 50%;
}

.header__helloText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.header__helloText1 {
  font-size: var(--fs-100);
}

.header__helloText2 {
  font-size: var(--fs-300);
}

.header__btnsDiv {
  display: flex;
  gap: 16px;
  align-self: center;
  justify-self: flex-end;
}

.btn {
  padding: 1em 2.5em;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  font-size: var(--fs-100);
  text-transform: uppercase;
  font-weight: var(--fw-bold);
}

.btn-primary {
  background-color: var(--indigo-500);
  color: white;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--indigo-600);
}

/* || MAIN */
.main {
  padding: var(--sp-32);
  display: grid;
  grid-template: repeat(2, 1fr) / 1fr 1fr 0.7fr;
  gap: 32px;
}

.main__left {
}

.main__right {
}

/* || -- PROJECTS */

.projects {
  grid-area: 1 / 1 / 3 / 3;
}

.projects__headline {
  margin-bottom: var(--sp-8);
  font-size: var(--fs-300);
  font-weight: var(--fw-medium);
}

.projects__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: var(--sp-32);
}

.projects__card {
  background-color: var(--indigo-950);
  color: var(--indigo-50);
  padding: var(--sp-32) var(--sp-16);
  border-left: 8px solid var(--indigo-600);
  border-radius: var(--sp-24);
}

.projects__card:hover {
  background-color: var(--indigo-800);
}

.projects__title {
  font-size: var(--fs-200);
  color: var(--indigo-50);
  margin-bottom: var(--sp-16);
  font-weight: var(--fw-bold);
}
.projects__text {
  font-size: var(--fs-100);
  color: var(--indigo-100);
  margin-bottom: var(--sp-24);
}

.projects__icons {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

/* || -- ANNOUNCEMENT */

.announcement {
  grid-area: 1 / 3 / 2 / 4;
}

.announcement__headline {
  margin-bottom: var(--sp-8);
  font-size: var(--fs-300);
  font-weight: var(--fw-medium);
}

.announcement__card {
  background-color: var(--indigo-950);
  padding: var(--sp-56) var(--sp-32);
  display: flex;
  flex-direction: column;
  gap: var(--sp-8);
  border-radius: var(--sp-24);
}

.announcement__content {
  /* border-bottom: 1px solid white; */
}

.announcement__content:last-child {
  border-bottom: none;
}
.announcement__title {
  font-size: var(--fs-150);
  color: var(--indigo-50);
  margin-bottom: var(--sp-4);
  font-weight: var(--fw-bold);
}

.announcement__text {
  font-size: var(--fs-100);
  color: var(--indigo-100);
  margin-bottom: var(--sp-32px);
}

.announcement__text:nth-child(1) {
  /* margin-bottom: 0; */
}

/* || -- TRENDING */
.trending {
  grid-area: 2 / 3 / 3 / 4;
}

.trending__headline {
  margin-bottom: var(--sp-8);
  font-size: var(--fs-300);
  font-weight: var(--fw-medium);
}

.trending__card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: var(--indigo-950);
  padding: var(--sp-56) var(--sp-32);
  border-radius: var(--sp-24);
}

.trending__user {
  display: flex;
  align-content: center;
  gap: var(--sp-16);
}

.trending__pic {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.trending__content {
  display: flex;
  flex-direction: column;
  gap: var(--sp-4);
  justify-content: center;
}

.trending__username {
  font-size: var(--fs-100);
  font-weight: var(--fw-bold);
  color: var(--indigo-50);
}

.trending__text {
  font-size: var(--fs-150);
  color: var(--indigo-100);
}
